@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="eventsApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
</head>
<body>
    <h1>Using controller from another directive</h1>
    @*<greeting finnish korean />*@
    
    <!--using transclution-->
    <greeting ng-transclude>
        <div finnish korean></div>
    </greeting>
  

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/lib/angular/angular.js"></script>
    <script src="~/Scripts/lib/angular/angular-cookies.js"></script>
    <script src="~/Scripts/lib/angular/angular-resource.js"></script>
    <script src="~/Scripts/lib/underscore-1.4.4.min.js"></script>
    <script src="~/Scripts/js/app.js"></script>
    <script src="~/Scripts/js/directives/greetingwithrequire.js"></script>
    <script src="~/Scripts/js/filters.js"></script>
    <script src="~/Scripts/lib/bootstrap.min.js"></script>
</body>
</html>
