@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!doctype html>
<html ng-app="eventsApp">
<head>
    <meta charset="utf-8" />
    <title>Filters sample</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
</head>

<body>
    <h2>Index</h2>
    <div class="container" ng-controller="FilterSampleController">
        Duration 1: {{data.duration1}}<br />
        Duration 2: {{data.duration2}}<br />
        Duration 3: {{data.duration3}}<br />
        Duration 4: {{data.duration4}}<br />
    </div>
    <script src="~/Scripts/lib/jquery.min.js"></script>
    <script src="~/Scripts/lib/angular/angular.js"></script>
    <script src="~/Scripts/lib/angular/angular-resource.js"></script>
    <script src="~/Scripts/lib/underscore-1.4.4.min.js"></script>
    <script src="~/Scripts/js/app.js"></script>
    <script src="~/Scripts/js/controllers/FilterSampleController.js"></script>
    <script src="~/Scripts/js/filters.js"></script>
    <script src="~/Scripts/lib/bootstrap.min.js"></script>
</body>
</html>



